body {
    font-family: Arial, sans-serif;
    background-color: #89f5d4;
}

#title {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
}

.wrap {
    display: grid;
    justify-content: center;
    gap: 20px;
}

.box {
    width: 40vw;
    height: 250px;
    padding: 10px;
    background-color: #01775d;
    border: 5px solid #003d30;
    border-radius: 5px;
    display: flex;
}

.image {
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.opis {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.car-price {
    font-size: 18px;
}

.kup {
    margin-top: 10px;
    width: 100px;
    padding: 5px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.kup:hover {
    background-color: #000742;
}

.options {
    margin-top: 10px;
}

.option {
    margin-bottom: 5px;
}

label {
    display: block;
}

input[type="checkbox"] {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .box {
        width: 80vw;
        flex-direction: column;
        align-items: center;
    }

    .image {
        width: 80%;
        height: auto;
        margin-top: 10px;
    }

    .opis {
        width: 100%;
        text-align: center;
    }
}
